/*General table sytyles*/
.tableHead{
	background: white;
	width: 97%;
}


.tableRow{
	padding: 0;
	height: 34px;
}

.white{
	background: white;
}



/*Specific ledger table styles*/
.splitInput[type=number]{
	height: inherit;
	margin: 0;
	width: 90%;
}

.dateCol{
	width: 15%;
}

.amountCol{
	width: 15%;
}

.descriptionCol{
	width: 40%;
}
.typeCol{
	width: 24%;
}
.splitCol{
	width: 5%;
}