/*General table sytyles*/
.tableHead{
	background: white;
	width: 97%;
}


.tableRow{
	padding: 0;
	height: 34px;
}

.white{
	background: white;
}



/*Specific ledger table styles*/
.splitInput[type=number]{
	height: inherit;
	margin: 0;
	width: 90%;
}

.dateCol{
	width: 12%;
	padding-left: 5px;
	font-size: small;
}

.amountCol{
	width: 12%;
	font-size: small;
}

.descriptionCol{
	width: 48%;
	font-size: small;
}
.typeCol{
	width: 22%;
	font-size: small;
}
.splitCol{
	width: 5%;
	font-size: small;
}