


.uploadDateRow {
	width: 12%;
}

.fileNameRow   {
	width: 34%;
}

.accountNameRow {
	width: 20%;
}

.rowCountRow    {
	width: 12%;
}

.minDateRow    {
	width: 11%;
}
 
.maxDateRow     {
	width: 11%;
}
