
.typeListElm{
	width: 150px;
	/*border-width: 2px;
	border-style: solid;*/
}

.typeList{
	background: white;
	width: 49%;
	height:95%;
	float:left;
}

.subTypeList{
	background: white;
	width: 49%;
	float:right;
	height:95%;
}

.panel{
	min-height: 180px;
}


.dropDown{
	position: absolute;
}

.typeButton{
	float:right;
}
.typeText{
	float:left;
}