.LegendElement{
	/*width: 100px;*/
	/*display: block;*/
	/*margin: 50px 0;*/
}

.LegendColourSquare{
	margin: 5px;
	width: 10px;
	height: 10px;
	/*float:left;*/
}

.LegendTextDiv{
	width:85%;
	float:left;
}

.SubTypeToggleDiv{
	width:14%;
	float: right;
}
.Legend{

}
.LegendType{
	width:48%;
	float:right;
}
.LegendSubType{
	width: 48%;
	float: left;
}

